<p>selectores-yespecificidad works!</p>
<p>Preeiriei</p>
<p>
    https://platzi.com/cursos/arquitecturas-css/
</p>
<p>
    https://platzi.com/cursos/html/como-funciona-la-web-desde-url-hasta-pag/
</p>
<p>https://platzi.com/cursos/css-avanzado/</p>
<p>https://platzi.com/cursos/transformaciones-transiciones-css/</p>
<p>https://platzi.com/cursos/animaciones-css/</p>
<p>https://platzi.com/cursos/practico-css/</p>
<p>https://platzi.com/cursos/css/css-que-es-y-formas-de-aplicar-estilos-e/</p>
<div>
    <p>Este div tiene un parrafo</p>
</div>
<div>
    Este div no tiene un parrafo
</div>
<div>
    <p>{{nombre}} </p>
</div>
<div>
    <ul>
        <li *ngFor="let nombre of listanombres">{{nombre}}</li>
    </ul>
</div>